<div class="container">
  <div class="card col-md-6 offset-3 mt-2">
    <div class="card-header">New Customer</div>
    <div class="card-body">
      <form [formGroup]="newCustomerFormGroup" (ngSubmit)="handleSaveCustomer()">
        <div class="mb-3">
          <label class="form-label">Name:</label>
          <input type="text" formControlName="name" class="form-control">
          <span class="text-danger"
                *ngIf="newCustomerFormGroup.controls['name'].touched
                && newCustomerFormGroup.controls['name'].errors
                && newCustomerFormGroup.controls['name'].errors!['required']">
            Name is Required
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Email:</label>
          <input type="text" formControlName="email" class="form-control">
          <span class="text-danger"
                *ngIf="newCustomerFormGroup.controls['email'].touched
                && newCustomerFormGroup.controls['email'].errors
                && newCustomerFormGroup.controls['email'].errors!['email']">
            Email is not valid
          </span>
        </div>
        <button [disabled]="!newCustomerFormGroup.valid" class="btn btn-info">Save</button>
      </form>
    </div>
  </div>
</div>
